<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Flask</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
</head>
<body>
  <h1>Nova tarefa</h1>
  <form action="/create-task" method="POST">
    <input type="text" name="description"/>
    <button type="submit">Adicionar tarefa</button>
  </form>
  <p>Generic Text</p>
  <ul>
    {% for task in tasks %}
      <li>
        <form action="/update-task/{{ task.id }}" method="POST" style="display: inline">
          <input type="text" name="description" value="{{ task.description }}"/>
          <button type="submit">Atualizar informação</button>
        </form>
        <form action="/delete-task/{{ task.id }}" method="POST" style="display: inline">
          <button type="submit">Excluir</button>
        </form>
      </li>
    {% endfor %}
  </ul>
</body>
</html>